@charset "utf-8";
#topmenu {
	height: 30px; 
	width: 850px;
}
#topmenu ul li {
	list-style : none;
	color: white;
	background-color: #2d2d2d;
	float: left;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
}
#topmenu .menulink {
	text-decoration: none;
	color: white;
	display: block;
	width: 150px;
	font-size: 12px;
	font-weight: bold;
	font-family: "Trevuchet MS", Dotum, Arial, Helvetica, sans-serif;
}
#topmenu .menulink:hover {
	color: black;
	background-color: white;
}
